<div class="select-language-container">
  <div class="titles">
    <span class="select-language-title">TOUCH TO ORDER</span>
    <span class="select-language-title romana">APASA PENTRU A COMANDA</span>
  </div>
  <div class="buttons">
    <div class="button" (click)="selectLanguage(languages[0].code)">
      <span>
        {{languages[0].name}}
      </span>
    </div>
    <div class="space-bar">
    </div>
    <div class="button" (click)="selectLanguage(languages[1].code)">
      <span *ngIf="languages.length >= 1">
        {{languages[1].name}}
      </span>
    </div>
  </div>
</div>
