<div class="app-container">
  <router-outlet></router-outlet>
</div>
<app-product-details-modal *ngIf="showProductDetailsModal$ | async"></app-product-details-modal>
<app-basket-modal *ngIf="showBasketModal$ | async"></app-basket-modal>
<app-cancel-order-modal *ngIf="showCancelOrderModal$ | async"></app-cancel-order-modal>
<app-delete-basket-product-modal *ngIf="showDeleteBasketProductModal$ | async"></app-delete-basket-product-modal>
<app-activity-modal *ngIf="showActivityModal$ | async"></app-activity-modal>
